main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
p {
  text-align: center;
}

.battlefield {
  border: solid black;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  width: 40vw;
  height: 50vh;
}

.colorAndName {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.color {
  display: flex;
  align-items: center;
  justify-content: center;
}

.respawn-button {
  width: 100px;
  height: 50px;
  margin: 20px auto;
}

.leaderboard {
  float: right;
  text-align: center;
  width: 40vw;
  margin: 20px auto;
}

.leaderboard-list {
  list-style-type: none;
}

/* .main-content {
  display: flex;
  align-items: center;
  justify-content: center;
} */
/* 
.battlefield-respawn {
  display: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */